/*Обнулення*/
* {
    padding: 0;
    margin: 0;
    border: 0;
 }
 
 *,
 *:before,
 *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }
 
 :focus,
 :active {
    outline: none;
 }
 
 a:focus,
 a:active {
    outline: none;
 }
 
 nav,
 footer,
 header,
 aside {
    display: block;
 }
 
 html,
 body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
 }
 
 input,
 button,
 textarea {
    font-family: inherit;
 }
 
 input::-ms-clear {
    display: none;
 }
 
 button {
    cursor: pointer;
 }
 
 button::-moz-focus-inner {
    padding: 0;
    border: 0;
 }
 
 a,
 a:visited {
    text-decoration: none;
 }
 
 a:hover {
    text-decoration: none;
 }
 
 ul li {
    list-style: none;
 }
 
 img {
    vertical-align: top;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    font-size: inherit;
    font-weight: 400;
 }
 
 /*--------------------*/

 .wrapper {
}
.mainContent {
   padding: 0 10px;
}

.chooseLevel{
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
   margin: 5px 0 5px 45px;
   /* background-color: rgba(4, 252, 37, 0.578); green */
   /* background-color: rgba(253, 55, 55, 0.681); */
}

.mainButtons {
   width: 200px;
}
.easy, .medium, .hard, .veryHard {
   margin: 10px 5px;
   width: 70px;
   height: 20px;
   border-radius: 2px;
}
.easy{
   background-color: rgb(35, 253, 6);
   box-shadow: 5px 5px 4px green;
}
.medium{
   background-color: rgb(251, 247, 24);
}
.hard{
   background-color: rgb(252, 8, 8);
}
.veryHard{
   background-color: rgb(114, 44, 20);
   color: white;
   font-size: 11px;
}
.contact{
   background-color: rgb(177, 248, 248);
   padding: 3px;
   margin: 5px 0 10px 5px;
}
.fixContact{
display: none;
color: red;
font-size: 17px;
font-weight: 600;
}
.easyContent {
}
.mediumContent {
   display: none;
}
.hardContent {
   display: none;
}
.veryHardContent {
   display: none;
}
.questionAnswerContainer{
   margin: 0 0 10px 0;
}
.question {
   font-weight: 600;
}
.containerAnswer {
   margin: 10px 15px;
}
.answerRadioButt {
   margin: 4px 0 0 10px;
}
.answerSpan {
   font-family: Arial, Helvetica, sans-serif;
   margin: 30px 0 0 3px;
}
.mediumContent {
}
.hardContent {
}
.submit{
   width: 120px;
   height: 40px;
   border-radius: 10px;
   padding: 2px;
   background-color: rgb(207, 248, 207);
   font-size: 16px;
   margin-bottom: 10px;
   margin-left: 100px;
}
/* input ~ span {
   color: red;
 } */
